<!DOCTYPE html>
<html lang="en">

  {% include header.html %}

  <body class="bg-white sans-serif bt bw4">

    <header class="ph4 flex-l items-center-l bt bw1 mt1">
      <div class="w-100 aw-50-l">
        <h1 class="f-headline lh-title bb bw4">
          {{ site.description }}
        </h1>
        <h2 class="ttu normal">
          {{ site.intro }}
        </h2>
      </div>
      <div class="w-100 aw-50-l">
        <img src="/assets/surf.png" class="" />
      </div>
    </header>

    <main>
      {{ content }}
    </main>

    <footer class="">
      <div class="pa4 bg-black white">
        <h4 class="ttu lh-title">
          About
        </h4>
        <p class="measure lh-copy">
          <span class="bg-white black b pa1 small-caps">Founden</span> is
          the name of the venture started by
          <a class="white dim" href="https://github.com/orgs/Founden/people">
            Stas and his friends</a>.
        </p>
        <p class="measure lh-copy">
          We are (mostly) based in Europe, UTC+0 &ndash; UTC+2.
          To get in touch with us, use
          <a href="mailto:ola@founden.com" class="white dim">ola@founden.com</a>.
        </p>
      </div>
    </footer>

  </body>
</html>
