<!DOCTYPE html>
<html lang="en">

  {% include header.html %}

  <body class="bg-white dark-fndn sans-serif">

    <header class="ph4">
      <h1 class="w-50 f-subheadline lh-title dark-fndn bb bw4 mb0">
        {{ site.description }}
      </h1>
      <h2 class="w-50 ttu normal">
        {{ site.intro }}
      </h2>
    </header>

    <main>
      {{ content }}
    </main>

    <footer>
      <div class="pa4 bg-light-fndn b-dark-fndn bt bw4 white">
        <h4 class="ttu lh-title">
          About
        </h4>
        <p class="measure lh-copy">
          <span class="bg-white dark-fndn b pa1 small-caps">Founden</span> is
          the name of the venture started by
          <a class="white dim" href="https://github.com/orgs/Founden/people">
            Stas and his friends</a>.
          We are (mostly) based in Europe, UTC+0 &ndash; UTC+2.
          <br/>
          To get in touch with us, use
          <a href="mailto:ola@founden.com" class="white dim">ola@founden.com</a>.
        </p>
      </div>
    </footer>

  </body>
</html>
